/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/tailwind-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
// @import "../node_modules/quill/dist/quill.snow.css";

// @import "ag-grid-community/styles/ag-grid.css";
// @import "ag-grid-community/styles/ag-theme-alpine.css";

html,
body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.p-inputtext-sm .p-inputtext {
  width: 100% !important;
  font-size: 13px !important;
}

.p-inputtext-sm .p-inputnumber {
  width: 100% !important;
}

p-inputnumber,
.p-inputnumber {
  width: 100% !important;
}

.p-dropdown-item {
  font-size: 13px !important;
}

.p-dropdown-filter {
  padding: 10px !important;
  font-size: 13px !important;
}

.spinner {
  height: 2rem !important;
  width: 2rem !important;
}

.p-menubar {
  background-color: white !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  border-radius: 0 !important;
  border: 0 !important;
}

.p-menuitem-icon,
.p-menuitem-text,
.p-submenu-icon {
  font-size: 14px !important;
}

.p-menubar-start {
  margin-right: auto !important;
}

.p-sidebar-right {
  width: 40rem !important;
}

.p-datepicker table td {
  padding: 0.5rem !important;
}

.p-datepicker table td > span {
  width: 20px !important;
  height: 20px !important;
}

.p-tabview .p-tabview-panels {
    padding: 10px 5px;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: #60a5fa !important;
  color: #60a5fa !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none !important;
}

.p-tabview-title {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Poppins", sans-serif !important;
}

.p-multiselect-label {
  padding: 10px !important;
  font-size: 13px !important;
}

.p-inputtextarea {
  font-size: 13px !important;
}

.p-submenu-list {
  width: 240px !important;
}

.p-menu {
  top: 45px !important;
  left: 1180px !important;
  width: 120px !important;
}

.ag-theme-alpine.no_toolbar .ag-root-wrapper {
  border: 1px solid #e2e8f0 !important;
  border-radius: 5px !important;
  z-index: 0 !important;
}

.ag-theme-alpine.with_toolbar .ag-root-wrapper {
  border-right: 1px solid #e2e8f0 !important;
  border-left: 1px solid #e2e8f0 !important;
  border-top: 0 !important;
  border-bottom: 1px solid #e2e8f0 !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  z-index: 0 !important;
}

.ag-header-cell-label {
  justify-content: center !important;
}

label {
  font-family: "Poppins", sans-serif !important;
  font-size: 13px !important;
}

@media only screen and (max-width: 520px) {
  .p-menubar .p-menuitem-link {
    width: 100vw !important;
  }
}
